{% extends 'common/base.html' %}

{% block body %}
    {% load static %}
    
    <section class="position-relative py-4 py-xl-5" style="margin-top: 5%;">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4">Contact Me</h2>
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Name"></div>
                                <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email"></div>
                                <div class="mb-3"><textarea class="form-control" id="message-2" name="message" rows="6" placeholder="Message"></textarea></div>
                                <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
                            </form>
                        </div>
                    </div>
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">{{message}}</div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    </section>

{% endblock body %}
