{% extends 'common/base.html' %}

{% block title %}
    <title>Resume</title>
{% endblock title %}

{% block body %}

{% load static %}
<main class="page cv-page">

    <section class="portfolio-block block-intro border-bottom">
        <div class="text-center">
            <img src="{% static 'img/avatars/main.jpg' %}" class="rounded" alt="Image">
            <h2 style="margin-top: 3%;"><strong>Harsh Singh</strong></h2>
            <h5>Mumbai, India</h5>
            <h5>22<sup>nd</sup> September, 2002</h5>
        </div>
    </section>
    <section class="portfolio-block cv">
        <div class="container">

            <div class="work-experience group">
                <div class="heading">
                    <h2 class="text-center">Work Experience</h2>
                </div>
                {% for w in work %}
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{w.position}}</h3>
                            <h4 class="organization">{{w.cmpName}}</h4>
                        </div>
                        <div class="col-md-6"><span class="period">{{w.startDate}} - {{w.endDate}}</span></div>
                    </div>
                    <p class="text-muted">{{w.shortDesc}}</p>
                </div>
                {% endfor %}
            </div>

            <div class="education group">
                <div class="heading">
                    <h2 class="text-center">Education</h2>
                </div>
                
                {% for e in education %}
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{e.hist}}</h3>
                            <h4 class="organization">{{e.schName}}</h4>
                        </div>
                        <div class="col-6"><span class="period">{{e.startDate}} - {{e.endDate}}</span></div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="skills portfolio-info-card">
                            <h2 style="font-size: 28px;">Skills</h2>
                            
                            {% for skill in skills %}   
                            <h3>{{skill.skill_name}}</h3>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.skill_percent}}%;"><span class="visually-hidden">100%</span></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    {% endblock body %}