{% extends 'common/base.html' %}

{% block title %}
    <title>Projects</title>
{% endblock title %}
    
{% block body %}
    {% load static %}
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2>My Work</h2>

                    {% for message in messages %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% empty %}
                    {% endfor %}

                </div>
                
                <div class="row">
                        
                    {% for project in projects %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0"><a href="{% url 'spec_projects' project.id %}"><img class="card-img-top scale-on-hover" src="{{media_url}}{{ project.img}}" alt="Card Image"></a>
                            <div class="card-body">
                                <h6><a href="{% url 'spec_projects' project.id %}">{{project.name}}</a></h6>
                                <p class="text-muted card-text">{{project.techStack}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    {% endblock body %}
