{% extends 'common/base.html' %} 


{% block title %}
    <title>{{project.name}}</title>
{% endblock title %}
    

{% block body %}
    
{% load static %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="container">
            <div class="heading">
                <h2>{{project.name}}</h2>
            </div>
            
            <div class="row">
                <div class="d-flex justify-content-center">
                    <div class="card border-0"><a href="{{project.link}}", target="_blank"><img class="card-img-top scale-on-hover" src="{{media_url}}{{ project.img}}" alt="Card Image"></a>
                        <div class="card-body">
                            <h3 style="color: black;">{{project.techStack}}</h3> </br>
                            <h5 style="color: black;">{{project.description}}</h5> </br>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock body %}